# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.2048 Balls.iml
# Editor-based HTTP Client requests
/httpRequests/
